/* Add your custom styles here */
.logo {
    height: 60px;
    border-radius: 30px;
}

.main-content {
    padding-top: 56px;
}

.navbar.darkened {
    background-color: rgba(0, 0, 0, 0.8);
    /* Adjust the background color and opacity as needed */
    transition: background-color 0.3s ease;
    /* Add a smooth transition effect */
}

.carousel-item img {
    transition: filter 0.5s ease-in-out;
}

.carousel-item img:hover {
    filter: grayscale(75%);
}

/* Add your custom styles here */

body {
    background-color: #f8f9fa;
    /* Light gray background color */
    color: #343a40;
    /* Dark text color */
}

.navbar {
    background-color: black;
    /* Navbar background color - Bootstrap primary color */
}

.navbar-brand img {
    max-height: 40px;
    /* Adjust the maximum height of the logo */
}

.navbar-nav .nav-link {
    color: #343a40 !important;
    /* Nav links color */
}

.main-content {
    padding-top: 80px;
    /* Adjust padding to make space for the fixed navbar */
}

/* Style the carousel indicators and controls */
.carousel-indicators li {
    background-color: #007bff;
    /* Bootstrap primary color for active indicator */
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #007bff;
    /* Bootstrap primary color for controls */
}

/* Set footer styles */
footer {
    background-color: #343a40;
    /* Footer background color */
    color: #ffffff;
    /* Footer text color */
    padding: 10px 0;
}

/* Set link styles in the references section */
#references a {
    color: #007bff;
    /* Bootstrap primary color for links */
}

#references a:hover {
    text-decoration: underline;
}