/* Add your custom styles here */
.logo {
    height: 60px;
    border-radius: 30px;
}

.main-content {
    padding-top: 56px;
}

.navbar.darkened {
    background-color: rgba(0, 0, 0, 0.8);
    /* Adjust the background color and opacity as needed */
    transition: background-color 0.3s ease;
    /* Add a smooth transition effect */
}

.carousel-item img {
    transition: filter 0.5s ease-in-out;
}

.carousel-item img:hover {
    filter: grayscale(75%);
}

.carousel-control-prev,
.carousel-control-next {
    outline: none;
    box-shadow: none;
    background: none;
}